.uni-body {
	.u-button {
		&.kui-icon-right {
			.u-icon {
				order: 2;
			}
		}
	}

	.u-modal {
		.u-modal__title {
			font-weight: 400;
			font-size: 16px;
			color: #4e5969;
			line-height: 22px;
		}
		.u-modal__content__text {
			font-weight: 400;
			font-size: 14px;
			color: #13234a;
			line-height: 20px;
		}
	}

	.u-tabs {
		.u-tabs__wrapper__nav {
			border-bottom: 1px solid #E5E6EB;
		}
		.u-tabs__wrapper__nav__item__text {
			font-size: 16px;
			line-height: 22px;
		}
		.u-tabs__wrapper__nav__line {
			bottom: 0;
		}
		.u-badge {
			transform: translate(-5px, -10px);
		}
	}
}
